.metadata/
iti-parent/.settings/
iti-parent/.project

iti-parent/iti-domain/.settings/
iti-parent/iti-domain/.project
iti-parent/iti-domain/.classpath
iti-parent/iti-domain/target/

iti-parent/iti-application/.settings/
iti-parent/iti-application/.project
iti-parent/iti-application/.classpath
iti-parent/iti-application/target/

iti-parent/iti-api/.settings/
iti-parent/iti-api/.project
iti-parent/iti-api/.classpath
iti-parent/iti-api/target/

iti-parent/iti-web/.settings/
iti-parent/iti-web/.project
iti-parent/iti-web/.classpath
iti-parent/iti-web/target/